* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #0063b2FF;
    --color-secondary: #9CC3D5FF;
    --cell-size: 200px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-sb-h {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-v {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

.scores {
    width: calc(var(--cell-size) * 3);
}

.cell {
    border-color: var(--color-primary);
    border-width: 1px;
}

.top {
    border-top-style: solid;
}

.left {
    border-left-style: solid;
}

.right {
    border-right-style: solid;
}

.bottom {
    border-bottom-style: solid;
}

.grid {
    display: grid;
    grid-template-columns: var(--cell-size) var(--cell-size) var(--cell-size);
    grid-template-rows:    var(--cell-size) var(--cell-size) var(--cell-size);
}

header {
    background-color: var(--color-primary);
    height: max(150px, 20%);
    height: 150px;
    font-size: 36px;
    font-weight: bold;
    padding-left: 24px;
    color: var(--color-secondary);
}

section {
    background-color: var(--color-secondary);
    flex-grow: 1;
    color: var(--color-primary);
}
